@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    @apply bg-brand-3 text-neutral-500;
  }

  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

  .input{
    @apply p-2 rounded-lg border-2 border-brand-1 focus:ring-2 focus:ring-brand-5;
  }
  .form-group{
    @apply flex flex-col gap-1; 
  }
  .label{
    @apply font-medium mb-1;
  }
}